body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
    margin: 20px;
}
.info-section{
    flex: 1;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 20px;
}
h1{
    color: #1877f2;
    margin-bottom: 20px;
}
h2{
    color: #1877f2;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    font-size: 14px;
}

button{
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

button[type="submit"]{
    background-color: #1877f2;
    color: white;
}

.create-account{
    background-color: #42b72a;
    color: white;
}

a{
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}
hr{
    border: 0;
    height: 1px;
    background-color: #dddfe2;
    margin: 20px 0;
}